<launch>
  <!-- Mavros -->
  <arg name="ns" default="/"/>
  <arg name="fcu_url" default="/dev/ttyUSB0:500000"/>
  <arg name="lidar_port" default="/dev/ttyUSB1"/>
  <arg name="gcs_url" default="udp://@192.168.102.4:14550" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />

  <group ns="$(arg ns)">
      <include file="$(find mavros)/launch/node.launch">
          <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
          <!-- Need to change the config file to get the tf topic and get local position in terms of local origin -->
          <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
          <arg name="fcu_url" value="$(arg fcu_url)" />
          <arg name="gcs_url" value="$(arg gcs_url)" />
          <arg name="tgt_system" value="$(arg tgt_system)" />
          <arg name="tgt_component" value="$(arg tgt_component)" />
      </include>
  </group>


  <!-- Lidar-->
  <include file="$(find navigation)/launch/my_lidar.launch">
    <arg name="port" value="$(arg lidar_port)" />
  </include>

   <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="record -o /navigation /scan /mavros/local_position/pose mavros/state"/>

</launch>
